  h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
    background-color: aqua;
}
p {
  color: #555;
  line-height: 1.6;
  padding: 15px;
  font-size: large;
}
.intro {
  font-style: italic;
}

.highlight {
  background-color: #9ac0e2;
  padding: 8px;
}

#header {
  color: #2c3e50;
  font-size: 32px;
}

.box {
  border: 10px solid #908787;
  padding: 16px;
}
